[Desktop Entry]
Version=1.0
Name=PanbetBrowserSocks
Comment=Panbet browsing 
Exec=chromium --user-data-dir=data/chromium_profiles/panbet/ --proxy-pac-url=http://localhost:21201/xrayvpn.pac
Terminal=false
Type=Application
Categories=Network;WebBrowser;
Icon=chromium
StartupWMClass=Chromium
