[Desktop Entry]
Version=1.0
Name=VpnBrowser
Comment=Vpn browser
Exec=chromium --user-data-dir=data/chromium_profiles/vpn/
Terminal=false
Type=Application
Categories=Network;WebBrowser;
Icon=chromium
StartupWMClass=Chromium
